<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/styles/styles.css">

    <title>help</title>
</head>
<body>
    <div class="main_content">
         {{>headers}}
    </div>

    <p>If a city name doesn't return the location you was looking for please include the country it located in. 
        For example 'Birmingham,uk'. 
        To access the built-in api please type in '/weather?address=london' after the url.
    </p>
   
    {{>footer}}
    
</body>
</html>